.ping {
    background-color: rgb(255, 255, 255);
    height: 100%;
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    display: flex;
    justify-items: center;
    border-radius: 30px;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    gap: 25px;
  }
  
  .ping-button {
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 1px solid black;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  .select-service {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 25px;
  }
  
  /* Define a class for the dropdown container */
  .dropdownContainer {
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Define a class for the dropdown itself */
  .pingDropdown {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 200px;
    outline: none;
  }
  
  /* Define a class for the options */
  .dropdownOption {
    color: #333;
    background: #fff;
  }
  
  .response-container {
    white-space: pre-wrap;
    background-color: black;
    height: 100px;
    width: 500px;
  }
  
  h1,
h2,
h3,
h4,
h6 {
  margin-top: 0.5rem;
  padding: 0;
  line-height: normal;
  font-family: sans-serif;
}
