<section class="banner" id="home">
  <div class="container">
    <div *ngIf="isVisibleText">
      <span class="tagline">Welcome to {{ projectName }}</span>
      <h1>
        <span class="txt-rotate" [attr.data-period]="dataPeriod" [attr.data-rotate]="textArray.join(',')">
          <span class="wrap">{{ text }}</span>
        </span>
      </h1>
      <p>
        Ready to dive into Angular?
        <br /><br />
        WeDaa gets you started fast, while offering flexibility for your creative touch. Explore organized code with user-friendly docs,
        customize effortlessly, and follow best practices effortlessly for a winning app. With quick iterations and a supportive community,
        your coding journey begins here. Let's build something amazing together!
      </p>
      <button (click)="openDocs()" class="get-started-button">
        Get Started
        <svg width="22" height="22" viewBox="0 0 15 15" xmlns="http://www.w3.org/2000/svg">
          <path
            fill="currentColor"
            d="m8.146 9.146l-.353.354l.707.707l.354-.353l-.708-.708ZM10.5 7.5l.354.354l.353-.354l-.353-.354l-.354.354ZM8.854 5.146L8.5 4.793l-.707.707l.353.354l.708-.708Zm0 4.708l2-2l-.708-.708l-2 2l.708.708Zm2-2.708l-2-2l-.708.708l2 2l.708-.708ZM10.5 7H4v1h6.5V7Zm-3 7A6.5 6.5 0 0 1 1 7.5H0A7.5 7.5 0 0 0 7.5 15v-1ZM14 7.5A6.5 6.5 0 0 1 7.5 14v1A7.5 7.5 0 0 0 15 7.5h-1ZM7.5 1A6.5 6.5 0 0 1 14 7.5h1A7.5 7.5 0 0 0 7.5 0v1Zm0-1A7.5 7.5 0 0 0 0 7.5h1A6.5 6.5 0 0 1 7.5 1V0Z"
          />
        </svg>
      </button>
    </div>
    <div *ngIf="isVisibleImage">
      <img src="{{ headerImg }}" alt="Header Img" />
    </div>
  </div>
</section>
