@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';

.navbar-right-content {
  display: flex;
  align-items: center;
}

.navbar-nav  {
  display: flex;
  flex-direction: row;
}

.nav-item {
  margin-right: 15px;
}
.nav-item:hover, .social-icon:hover ,button:hover{
  cursor: pointer;
}

.social-icon {
  <%_ if(oauth2)  { _%>
    margin-right: 15px;
  <%_ } else { _%>  
  margin-right:  450px;
  <%_ } _%>  
}

p,
a,
li,
button,
ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

nav.navbar {
  padding: 18px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9999;
  transition: 0.32s ease-in-out;
}
nav.navbar.scrolled {
  padding: 0px 0;
  background-color: #121212;
}
nav.navbar a.navbar-brand {
  width: 9%;
}
nav.navbar .navbar-nav .nav-link {
  font-weight: 400;
  color: #fff !important;
  letter-spacing: 0.8px;
  // padding: 0 25px;
  font-size: 18px;
  opacity: 0.75 !important;
}

.nav-options {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.nav-item {
  padding: 0 25px;
  font-weight: 400;
  font-size: 18px;
  font-family: sans-serif;
}
.nav-link-home {
  opacity: 1 !important;
}
nav.navbar .navbar-nav a.nav-link:hover,
.navbar-text:hover,
nav.navbar .navbar-nav a.nav-link:active .navbar-text.active {
  opacity: 1 !important;
}

.sub-menu-wrap {
  position: absolute;
  top: 100%;
  right: 21%;
  width: 320px;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.5s;
}

.sub-menu-wrap.open-menu {
  max-height: 400px;
}

.sub-menu {
  background: #121212;
  padding: 20px;
  margin: 10px;
}

.swagger-info {
  display: flex;
  align-items: center;
}

.swagger-info h3 {
  font-weight: 500;
}

.sub-menu-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 12px 0;
}

.sub-menu-link hr {
  border: 0;
  height: 1px;
  width: 100%;
  background: #ccc;
  margin: 15px 0 15px;
}

.sub-menu-link span {
  font-size: 22px;
  transition: transform 0.5s;
}

.sub-menu-link:hover span {
  transform: translateX(3px);
}

.sub-menu-link:hover p {
  font-weight: 600;
}

.sub-menu-link h5 {
  width: 100%;
  align-items: center;
}

span.navbar-text {
  display: flex;
  align-items: center;
}
.social-icon {
  display: inline-block;
  margin-left: 150px;
}
.social-icon a {
  width: 42px;
  height: 42px;
  background: rgba(217, 217, 217, 0.1);
  display: inline-flex;
  border-radius: 50%;
  margin-right: 6px;
  align-items: center;
  justify-content: center;
  line-height: 1;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.social-icon a::before {
  content: '';
  width: 42px;
  height: 42px;
  position: absolute;
  background-color: #ffffff;
  border-radius: 50%;
  transform: scale(0);
  transition: 0.3s ease-in-out;
}
.social-icon a:hover::before {
  transform: scale(1);
}
.social-icon a img {
  width: 40%;
  z-index: 1;
  transition: 0.3s ease-in-out;
}
.social-icon a:hover svg {
  filter: brightness(0) saturate(100%) invert(0%) sepia(7%) saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%) !important;
}
.navbar-text button {
  font-weight: 700;
  color: #fff;
  border: 1px solid #fff;
  padding: 18px 34px;
  font-size: 18px;
  margin-left: 18px;
  position: relative;
  background-color: transparent;
  transition: 0.3s ease-in-out;
  margin-right: 280px;
}
.navbar-text button span {
  z-index: 1;
}
.navbar-text button::before {
  content: '';
  width: 0%;
  height: 100%;
  position: absolute;
  background-color: #fff;
  left: 0;
  top: 0;
  z-index: -1;
  transition: 0.3s ease-in-out;
}
.navbar-text button:hover {
  color: #121212 !important;
}
.navbar-text button:hover::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
}
nav.navbar .navbar-toggler:active,
nav.navbar .navbar-toggler:focus {
  outline: none;
  box-shadow: none;
}
nav.navbar .navbar-toggler-icon {
  width: 24px;
  height: 17px;
  background-image: none;
  position: relative;
  border-bottom: 2px solid #fff;
  transition: all 300ms linear;
  top: -2px;
}
nav.navbar .navbar-toggler-icon:focus {
  border-bottom: 2px solid #fff;
}
nav.navbar .navbar-toggler-icon:after,
nav.navbar .navbar-toggler-icon:before {
  width: 24px;
  position: absolute;
  height: 2px;
  background-color: #fff;
  top: 0;
  left: 0;
  content: '';
  z-index: 2;
  transition: all 300ms linear;
}
nav.navbar .navbar-toggler-icon:after {
  top: 8px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:after {
  transform: rotate(45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon:before {
  transform: translateY(8px) rotate(-45deg);
  background-color: #fff;
  height: 2px;
}
nav.navbar .navbar-toggler[aria-expanded='true'] .navbar-toggler-icon {
  border-color: transparent;
}
