fastapi==0.110.0
python-dotenv==1.0.1
motor==3.3.2
python-keycloak==3.9.1
gunicorn==21.2.0
uvicorn==0.27.1
asyncpg==0.29.0
py-eureka-client==0.11.9
SQLAlchemy==2.0.25
sqlmodel==0.0.14
fastapi_auth_middleware==1.0.2
fastapi_keycloak==1.0.10
xmltodict
httpx