fastapi==0.110.0
python-dotenv==1.0.1
gunicorn==21.2.0
uvicorn==0.27.1
<% if(mongodb) { %>
mongo-migrate==0.1.2
motor==3.6.0
<%_ } _%><% if(auth) { %>
python-keycloak==3.9.1
fastapi_keycloak==1.0.10
fastapi_auth_middleware==1.0.2
<%_ } _%><%_ if(eureka) { _%>
py-eureka-client==0.11.9
<%_ } _%><%_ if(postgresql) { _%>
asyncpg==0.29.0
SQLAlchemy==2.0.25
sqlmodel==0.0.14
alembic==1.13.3
greenlet==3.1.1
<%_ } _%><%_ if (rabbitmqClient?.length||rabbitmqServer?.length){  _%>
pika==1.3.2
aio_pika==9.4.3 
<%_ } _%><%_ if (restServer?.length > 0 && !eureka ){  _%>
httpx==0.27.2
<%_ } _%>