name: Version update

on:
  push:
    branches:
      - test

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
        with:
          token: ${{ secrets.ACCESS_TOKEN }}
          ref: test
          
      - name: Setup GIT
        run: |
          git config --global user.email "engineering@wedaa.tech"
          git config --global user.name "engineering-wedaa"

      - name: Determine Changed Folders
        id: changed_folders
        run: |
          # Get the last commit hash
          last_commit=$(git log -n 1 --pretty=format:"%H")

          # Get a list of changed files in the last commit
          changed_files=$(git diff --name-only $last_commit^..$last_commit)

          # Extract the top-level directories from the changed files
          top_level_dirs=()
          for file in $changed_files; do
              dir=$(dirname "$file")
              top_level_dir=$(echo "$dir" | cut -d'/' -f1)
              if ! [[ " ${top_level_dirs[*]} " == *" $top_level_dir "* ]]; then
                  top_level_dirs+=("$top_level_dir")
              fi
          done
          for dir in "${top_level_dirs[@]}"; do
            echo "$dir"
          done
        shell: bash

      - name: Bump package version in specific folders
        run: |
          directories=(${{ steps.changed_folders.outputs.stdout }})
          for folder in "${directories[@]}"; do
            if [ "$folder" != ".github" ]; then
              pushd "$folder"
              npm version patch -m "Bump version to %s [skip ci]"
              popd
            fi
          done
        shell: bash

      - name: Push vesrion bump to the current branch
        uses: ad-m/github-push-action@v0.6.0
        with:
          github_token: ${{ secrets.ACCESS_TOKEN }}
          branch: test # ${{ github.head_ref }}
          force: true
 